@import url(https://fonts.bunny.net/css?family=quicksand:300,400,500,600);

/* ev flytta dessa egenskaper senare t anann div */
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  color: white;
  font-family: "Quicksand", "Gill Sans", "Gill Sans MT", "Calibri",
    "Trebuchet MS", sans-serif;
  top: 0;
  margin: 0;
}

main {
  min-width: auto;
  height: 100%;
}

h1 {
  text-align: center;
  font-weight: 700;
  font-size: 50px;
}

h3 {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
}

p {
  text-align: left;
  font-size: 2rem;
  font-weight: 500;
}

.actions {
  display: flex;
  justify-content: center;
}

.actions button:hover {
  background-color: rgb(49, 118, 95);
}

.actions button {
  padding: 0.5rem 3rem;
  font-size: 2rem;
  border-radius: 2rem;
  background-color: #79d9a1;
  color: white;
  border: solid 3px;
}

.section_game {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 320px;
  justify-content: space-between;
  row-gap: 0.75vw;
  padding: var(--spacing-padding-l, 20px);
  background: var(
    --fade_forest_dark,
    linear-gradient(180deg, #152a28 0%, #1c3836 92.71%, #152a28 100%)
  );
}

.info-sec {
  display: flex;
  flex-direction: row;
  width: 200px;
}

.card {
  width: auto;
  height: auto;
  min-width: var(--measure-card-size-s, 60px);
  min-height: var(--measure-card-size-s, 60px);
  padding: var(--spacing-padding-xxs, 8px) var(--spacing-padding-xxs, 8px);
  gap: 0.25rem;
  border-radius: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; /* important */
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
  background: #fffaed;

  /* card-shadow-front */
  box-shadow: -1px -1px 4px 0px rgba(0, 0, 0, 0.15) inset,
    1px 1px 4px 0px rgba(0, 0, 0, 0.15) inset;
}

.card-text {
  color: #1d1d1d;
  font-size: 0.5rem;
  line-height: 0.5rem;
  flex-wrap: wrap;
}

.front-image {
  width: var(--measure-card-image-s-2, 32px);
  height: var(--measure-card-image-s-2, 32px);
}

.card.flipped {
  transform: rotateY(180deg);
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  border-radius: 0.5rem;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.card .front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
}

.card .back {
  /*background-image: url(data:image...); */
  background: var(
    --gold_fade_bright,
    linear-gradient(
      180deg,
      #fff3d3 0%,
      #ffeec1 22.32%,
      #b5a26f 68.45%,
      #b5a26f 95.24%
    )
  );
  /* card-shadow-back */
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2),
    -1px -1px 4px 0px rgba(0, 0, 0, 0.15) inset,
    1px 1px 4px 0px rgba(0, 0, 0, 0.15) inset;
  background-position: center center;
  background-size: cover;
  backface-visibility: hidden;
}

.timer {
  gap: 0.25rem;
}

.container_game-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.container-mission {
  display: flex;
  justify-content: center;
  padding: 2rem;
  gap: 1rem;
}

.mission-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: aquamarine;
  border-radius: 100rem;
  width: 200px;
  height: 200px;
  box-shadow: 8px 4px 12px rgba(2, 2, 2, 0.2);
  transition: box-shadow 0.2s ease-out; /* Lägg till övergången här */
}

.mission-card:hover {
  background-color: aliceblue;
  box-shadow: 8px 4px 12px rgba(2, 2, 2, 0);
  animation-name: mission-card;
}

@keyframes mission-card {
  0% {
    box-shadow: 8px 4px 12px rgba(2, 2, 2, 0.2);
  }
  100% {
    box-shadow: 8px 4px 12px rgba(2, 2, 2, 0);
  }
}

.section_end-game {
  display: flex;

  width: 100vw;
  height: 100%;
  position: absolute;
  top: 25%;
}

.container_end-game {
  width: 400px;
  height: auto;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  margin: auto;
  padding: 3rem;
  background-color: rgb(90, 177, 148);
}

a {
  text-decoration: none;
  color: #af9754;
}

a:hover {
  color: #ffe18d;
}

li {
  list-style: none;
}

.timer {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

@media screen and (max-width: 1600px) {
  /* COMMON */

  body {
    background: var(
      --button-shade-green,
      linear-gradient(179deg, #408581 18.99%, #3a7874 30.68%, #1a3534 81.09%)
    );
  }
  main {
    min-width: 360px;
    width: auto;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex: 1 0 0;*/
    align-self: stretch;
    background: var(
      --button-shade-green,
      linear-gradient(179deg, #408581 18.99%, #3a7874 30.68%, #1a3534 81.09%)
    );
  }

  .navbar {
    display: flex;
    width: 320px;
    height: 48px;
    padding: var(--spacing-padding-xs, 8px) var(--spacing-padding-l, 20px);
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    background: var(
      --fade_forest_header,
      linear-gradient(
        180deg,
        #458c87 0%,
        #37706c 10%,
        #346965 20%,
        #346965 80%,
        #163838 100%
      )
    );
    box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.15) inset,
      0px 2px 4px 0px rgba(0, 0, 0, 0.15) inset, 0px 4px 4px 0px #173736;
    z-index: 9;
  }

  .section_page-label {
    display: flex;
    width: 320px;
    min-width: var(--measure-total-width-m, 320px);
    padding: var(--spacing-padding-m, 16px) var(--spacing-padding-l, 20px);

    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-gap-l, 20px);
    background: var(
      --fade_forest_dark,
      linear-gradient(180deg, #152a28 0%, #1c3836 92.71%, #152a28 100%)
    );
  }

  .section_total {
    display: flex;
    min-width: 320px;

    font-weight: 400;
    padding: 0px var(--spacing-padding-l, 20px);
    justify-content: space-between;
    align-items: center;
    background: var(
      --secondary_fade_list,
      linear-gradient(
        180deg,
        #346965 0%,
        #428580 7.81%,
        #37706c 21.35%,
        #346965 85.94%,
        #152a28 100%
      )
    );
    box-shadow: 0px -4px 4px 0px #173736;
    height: 40px;
    color: #ffe18d;
  }

  .wrapper_h2-text-button {
    display: flex;
    min-width: var(--measure-total-width-s, 320px);
    justify-content: space-between;
    align-items: center;
  }

  .hitbox {
    display: flex;
    width: var(--measure-hit-box, 40px);
    height: var(--measure-hit-box, 40px);
    justify-content: flex-end;
    align-items: center;
  }

  .hitbox_arrow {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    box-shadow: -1px -1px 8px 0px rgba(140, 127, 69, 0.2) inset,
      1px 1px 4px 0px rgba(140, 127, 69, 0.2) inset;
  }
  .wrapper_text-button {
    display: flex;
    align-items: center;
    gap: var(--spacing-gap-xs, 8px);
  }

  .wrapper_spel-min {
    display: flex;
    justify-content: space-between;
    min-width: 164px;
    width: auto;
    align-items: center;
    gap: var(--spacing-padding-s, 8px);
  }

  .wrapper_text-min {
    display: flex;
    align-items: flex-start;
    gap: var(--spacing-gap-xs, 8px);
  }

  .button_s_r {
    width: 1.5rem;
    margin: 4px;
    transition: ease-out 0.3s;
  }

  .button_m {
    width: 2rem;
    margin: 4px;
    transition: ease-out 0.3s;
  }

  .button_m_r {
    width: 2rem;
    margin-left: 8px;
    transition: ease-out 0.3s;
  }

  .button_m_l {
    width: 2rem;
    margin-right: 8px;
    transition: ease-out 0.3s;
  }

  .button_m:hover {
    opacity: 0.9;
  }

  .button_pause {
    width: 32px;
    height: 32px;
  }

  footer {
    display: flex;
    height: 3rem;
    min-width: var(--measure-total-width-s, 320px);
    padding: 0px var(--spacing-padding-s, 1.25rem);
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    background: var(
      --fade_forest_footer,
      linear-gradient(185deg, #428580 8.78%, #3b7773 27.96%, #1c3836 108.32%)
    );

    /* board-shadow */
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2),
      0px -2px 4px 0px rgba(0, 0, 0, 0.15) inset,
      0px 2px 4px 0px rgba(0, 0, 0, 0.15) inset;
  }

  /* POP UPS */
  .popup_bg {
    display: none; /* Hidden by default */
    flex-direction: column;
    justify-content: center;
    align-self: center;
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    top: 0;
    width: 360px;
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
  }
}

.popup_box {
  display: inline-flex;
  height: auto;
  padding: 20px var(--spacing-padding-l, 20px);
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  gap: var(--measure-card-image-s-2, 32px);
  border-radius: 8px;
  background: var(
    --fade_forest_footer,
    linear-gradient(185deg, #428580 8.78%, #3b7773 27.96%, #1c3836 108.32%)
  );

  /* board-shadow */
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2),
    0px -2px 4px 0px rgba(0, 0, 0, 0.15) inset,
    0px 2px 4px 0px rgba(0, 0, 0, 0.15) inset;
}

.popup_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;
}

.button_wrapper {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  gap: 0.5rem;
}

/* COMMON FONTS */

h1 {
  /* app/h1_24_32_12_0% */
  font-family: Quicksand;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem;
  background: var(
    --gold_icon_fade,
    linear-gradient(
      180deg,
      #fff3d3 0%,
      #ffefc5 11.9%,
      #ffeec1 24.8%,
      #b5a26f 95.24%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h2 {
  color: #ffe18d;
  /* FIXA
    leading-trim: both;
    text-edge: cap; */

  /* app/h2_1.5% */
  font-size: 2rem;
  font-weight: 300;
  line-height: 2rem; /* 100% */
  letter-spacing: 0.1rem;
  margin: 0;
}

.h3_label_s {
  color: #ffe18d;
  text-align: right;

  /* FIXA
    leading-trim: both;
    text-edge: cap; */

  /* app/label_small_1% */
  font-size: 1rem;
  font-weight: 400;
  line-height: 1rem; /* 125% */
  letter-spacing: 0.05rem;
  margin: 0;
  padding: 0;
}

/* INDEX-PAGE */

.big-card {
  display: flex;
  width: var(--measure-total-width-s, 20rem);
  height: var(--measure-total-width-s, 20rem);
  padding: 0rem 1.25rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: var(--spacing-padding-s, 0.75rem);
  background: linear-gradient(
    180deg,
    #bfaf83 0%,
    #fff3d3 2.48%,
    #ffeec1 69.94%,
    #ffe7a7 95.24%
  );
  box-shadow: 0px 6.6735px 13.34701px 0px rgba(0, 0, 0, 0.15),
    8px 8px 16px 0px rgba(170, 149, 90, 0.5) inset,
    -8px -8px 12px 0px rgba(170, 149, 90, 0.5) inset;
  transition: ease-out 0.3s;
}
/* FIXA HOVER & INTRO-ANIMATION */
.big-card:hover {
  opacity: 0.9;
}

.wrapper_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  align-self: stretch;
}

/* FIXA RELIEF */
.p_big-card {
  color: #ffe7a7;
  color: #957a31;
  text-align: center;
  font-family: Quicksand;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem; /* 133.333% */
  letter-spacing: 0.2px;
  margin: 0;
  /*text-shadow: 1px 1px 2px 0px #957a31 inset;*/
}

/* FIXA FONT-COLOR RELIEF */
.h1_big-card {
  align-self: stretch;
  color: #ffe7a7;
  color: #957a31;
  text-align: center;
  font-size: 3.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.25rem; /* 100% */
  letter-spacing: 0.1rem;
  margin: 0;
  /*text-shadow: 1px 1px 2px 0px #957a31 inset;*/
}

/* MENU-PAGE */
.scroll-area {
  display: flex;
  flex-direction: column;
  overflow: auto; /* Enable scroll if needed */
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    linear-gradient(185deg, #408581 8.78%, #3a7975 27.96%, #163838 108.32%),
    linear-gradient(153deg, #90c7c3 16.67%, #457e7e 100%);
}

.container_categories {
  display: flex;
  flex-direction: row;
}
.image_cate_icon {
  width: 1.25rem;
  height: 1.25rem;
  filter: sepia(1);
}

.category_label_dd {
  flex-direction: row;
  min-width: var(--measure-total-width-s, 320px);
  padding: 1.25rem;
  background: var(
    --fade_3,
    linear-gradient(
      180deg,
      #b5a26f 0%,
      #bfaf83 5.95%,
      #fff3d3 17.86%,
      #ffeec1 52.58%,
      #bfaf83 88.79%,
      #b5a26f 95.24%
    )
  );
}

.dd-category-label {
  width: var(--measure-total-width-m, 360px);
  padding: 1rem 1.25rem;
}
.wrapper_category {
  display: flex;
  flex-direction: row;
  width: var(--measure-total-width-s, 320px);
  justify-content: space-between;
  align-items: center;
}

.button_category {
  display: flex;
  width: 140px;
  padding: var(--spacing-padding-m, 16px) var(--spacing-padding-m, 16px);
  align-items: center;
  gap: var(--spacing-gap-xs, 8px);
  flex-shrink: 0;
  border-radius: 8px;
  background: var(
    --button-shade-green,
    linear-gradient(179deg, #408581 18.99%, #3a7874 30.68%, #1a3534 81.09%)
  );

  /* button_cat */
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.2),
    -2px -2px 8px 0px rgba(0, 0, 0, 0.15) inset;
}
.wrapper_stars-hitbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  width: 128px; /*test */
}

/* The Close Button 
.button_close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
*/

.button_close:hover,
.button_close:focus {
  opacity: 0.8;
  transition: ease-out 0.3s;
  cursor: pointer;
}
.button_popup {
  display: flex;
  padding: var(--spacing-padding-m, 16px);
  justify-content: center;
  border-radius: 1.5rem;
  width: 100px;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.1) 100%
    ),
    linear-gradient(
      180deg,
      #fff3d3 0%,
      #ffeec1 22.32%,
      #b5a26f 68.45%,
      #b5a26f 95.24%
    );

  /* button_cat */
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.2),
    -2px -2px 8px 0px rgba(0, 0, 0, 0.15) inset;
  /* button_cat */
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.2),
    -2px -2px 8px 0px rgba(0, 0, 0, 0.15) inset;
}
