@import url(https://fonts.bunny.net/css?family=quicksand:300,400,500,600);

/* ev flytta dessa egenskaper senare t anann div */
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  color: #ffe7a7;
  font-family: "Quicksand", "Gill Sans", "Gill Sans MT", "Calibri",
    "Trebuchet MS", sans-serif;
  top: 0;
  margin: 0;
  background: var(
    --button-shade-green,
    linear-gradient(179deg, #408581 18.99%, #3a7874 30.68%, #1a3534 81.09%)
  );
}

main {
  min-width: 360px;
  width: auto;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* flex: 1 0 0;*/
  align-self: stretch;
  background: var(
    --button-shade-green,
    linear-gradient(179deg, #408581 18.99%, #3a7874 30.68%, #1a3534 81.09%)
  );
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar {
  display: flex;
  min-width: 320px;
  width: auto;
  height: 48px;
  padding: var(--spacing-padding-xs, 8px) var(--spacing-padding-l, 20px);
  justify-content: space-between;
  align-items: center;
  background: var(
    --fade_forest_header,
    linear-gradient(
      180deg,
      #458c87 0%,
      #37706c 10%,
      #346965 20%,
      #346965 80%,
      #163838 100%
    )
  );
  box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.15) inset,
    0px 2px 4px 0px rgba(0, 0, 0, 0.15) inset, 0px 4px 4px 0px #173736;
  z-index: 9;
}

.section_page-label {
  display: flex;
  width: auto;
  min-width: var(--measure-total-width-m, 320px);
  padding: var(--spacing-padding-m, 16px) var(--spacing-padding-l, 20px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-gap-l, 20px);
  background: var(
    --fade_forest_dark,
    linear-gradient(180deg, #152a28 0%, #1c3836 92.71%, #152a28 100%)
  );
}

.wrapper_h2-text-button {
  display: flex;
  min-width: var(--measure-total-width-s, 320px);
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

/*  LABEL X */
.wrapper_text-button {
  display: flex;
  flex-direction: row;
  width: 120px;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.wrapper_buttons-round {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-self: stretch;
  gap: 0.5rem;
}

.wrapper_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: stretch;
  gap: 1rem;
  padding-top: 1.75rem;
}

.wrapper_button {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1.25rem 0;
  background: #173736;
}

.wrapper_buttons_lang {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-bottom: 4rem;
}

/*  LABEL X END */

/* BUTTON HITBOX ETC */
.hitbox {
  display: flex;
  width: var(--measure-hit-box, 40px);
  height: var(--measure-hit-box, 40px);
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}
.hitbox_tl {
  display: flex;
  width: var(--measure-hit-box, 40px);
  height: var(--measure-hit-box, 40px);
  justify-content: flex-end;
  align-items: flex-start;
}

.hitbox_arrow {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  box-shadow: -1px -1px 8px 0px rgba(140, 127, 69, 0.2) inset,
    1px 1px 4px 0px rgba(140, 127, 69, 0.2) inset;
}
.dd-arrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  box-shadow: -1px -1px 8px 0px rgba(140, 127, 69, 0.2) inset,
    1px 1px 4px 0px rgba(140, 127, 69, 0.2) inset;
  width: 1.75rem;
  height: 1.75rem;
  padding: 0.5rem;
}
.arrow {
  width: 100%;
  object-fit: scale-down;
  transition: transform 0.4s ease-in;
  transform: rotate(0deg);
}

.arrow.rotate {
  transition: transform 0.3s ease-out;
  transform: rotate(180deg);
}
.button_s_r {
  width: 1.5rem;
  margin: 4px;
  transition: ease-out 0.3s;
}

.button_m {
  width: 2rem;
  margin: 4px;
  transition: ease-out 0.3s;
}

.button_m_r {
  width: 2rem;
  margin-left: 8px;
  transition: ease-out 0.3s;
}

.button_m_l {
  width: 2rem;
  margin-right: 8px;
  transition: ease-out 0.3s;
}

.button_m:hover {
  opacity: 0.9;
}

.button_pause {
  width: 32px;
  height: 32px;
}

.button_primary {
  display: flex;
  padding: var(--spacing-padding-m, 16px);
  justify-content: center;
  border-radius: 1.5rem;
  width: 100px;
  text-transform: uppercase;
  color: var(--golden-shade_0, #6b5929);
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.1) 100%
    ),
    linear-gradient(
      180deg,
      #fff3d3 0%,
      #ffeec1 22.32%,
      #b5a26f 68.45%,
      #b5a26f 95.24%
    );

  /* button_cat */
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.2),
    -2px -2px 8px 0px rgba(0, 0, 0, 0.15) inset;
  /* button_cat */
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.2),
    -2px -2px 8px 0px rgba(0, 0, 0, 0.15) inset;
}

.button_primary:hover {
  opacity: 0.9;
  cursor: pointer;
}
/* BUTTONS ETC ENDS */

footer {
  position: fixed;
  width: 100%;
  min-width: var(--measure-total-width-s, 320px);
  margin: 0;
  bottom: 0;
}

.footer_container {
  display: flex;
  height: 3rem;
  width: auto;
  padding: 0px var(--spacing-padding-s, 1.25rem);
  margin: 0;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  background: var(
    --fade_forest_footer,
    linear-gradient(185deg, #428580 8.78%, #3b7773 27.96%, #1c3836 108.32%)
  );

  /* board-shadow */
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2),
    0px -2px 4px 0px rgba(0, 0, 0, 0.15) inset,
    0px 2px 4px 0px rgba(0, 0, 0, 0.15) inset;
}

.container_end-game {
  display: flex;
  min-width: 280px;
  height: auto;
  padding: 1.25rem;
  flex-direction: column;
  justify-content: center;
  border-radius: var(--radius-popup, 16px);
  margin: auto;
  background: var(
    --fade_forest_footer,
    linear-gradient(185deg, #428580 8.78%, #3b7773 27.96%, #1c3836 108.32%)
  );
  /* board-shadow */
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2),
    0px -2px 4px 0px rgba(0, 0, 0, 0.15) inset,
    0px 2px 4px 0px rgba(0, 0, 0, 0.15) inset;
  animation-name: fadeIn;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}

.wrapper_h2-text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: left;
}

/* SECTION TOTAL */
.section_total {
  display: flex;
  min-width: 320px;
  width: auto;
  font-weight: 400;
  padding: 0px var(--spacing-padding-l, 20px);
  justify-content: space-between;
  align-items: center;
  background: var(
    --secondary_fade_list,
    linear-gradient(
      180deg,
      #346965 0%,
      #428580 7.81%,
      #37706c 21.35%,
      #346965 85.94%,
      #152a28 100%
    )
  );
  box-shadow: 0px -4px 4px 0px #173736;
  height: 40px;
  color: #ffe18d;
}

.wrapper_spel-min {
  display: flex;
  justify-content: space-between;
  min-width: 164px;
  width: 180px;
  align-items: center;
  gap: var(--spacing-padding-s, 8px);
}

.wrapper_text-min {
  display: flex;
  align-items: flex-end;
  gap: var(--spacing-gap-xs, 8px);
}
/* SECTION TOTAL ENDS */

.scroll-area {
  display: flex;
  flex-direction: column;
  width: auto;
  min-height: 75%;
  height: auto;
  padding-bottom: 48px;
  overflow: scroll; /* Enable scroll if needed */
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    linear-gradient(185deg, #408581 8.78%, #3a7975 27.96%, #163838 108.32%),
    linear-gradient(153deg, #90c7c3 16.67%, #457e7e 100%);
}

/* PAGE MENU (SCROLL AREA) */
.container_menu-cards {
  display: flex;
  min-width: var(--measure-total-width-s, 320px);
  flex-wrap: wrap;
  height: 100%;
  padding: var(--spacing-padding-l, 20px);
  align-items: flex-start;
  align-content: flex-start;
  row-gap: 2.5vw;
  column-gap: 2.5vw;
  justify-content: center;
  flex-wrap: wrap;
}

.menu-card {
  display: flex;
  width: 150px;
  height: 150px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 2rem;
  transition: 0.3s ease-out;
  background: var(
    --gold_card-menu,
    linear-gradient(
      180deg,
      #b5a26f 0%,
      #fff3d3 1.98%,
      #ffeec1 25.3%,
      #b5a26f 83.33%,
      #b5a26f 95.24%
    )
  );
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15),
    0px -2px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.menu-card:hover {
  scale: 1.02;
}

/* PAGE MENU (SCROLL AREA) ENDS */

/* CARDS? PLACE! */
.icon_menu-card_image {
  display: flex;
  width: 2rem;
  height: 2rem;
  justify-content: center;
  align-items: center;
  filter: sepia(100%) contrast(50%) saturate(2);
}

.wrapper_icon-text-stars {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-gap-xs, 8px);
}

.container_categories {
  display: flex;
  flex-direction: row;
}
.image_cate_icon {
  width: 1.25rem;
  height: 1.25rem;
  filter: sepia(1);
}

/* PAGE WORDS (SCROLL AREA) */
.category_label_dd {
  flex-direction: row;
  min-width: var(--measure-total-width-s, 320px);
  width: 100%;
}

.dd-category_label {
  width: auto;
  padding: 1rem 1.25rem;

  background: var(
    --fade_3,
    linear-gradient(
      180deg,
      #b5a26f 0%,
      #bfaf83 5.95%,
      #fff3d3 17.86%,
      #ffeec1 52.58%,
      #bfaf83 88.79%,
      #b5a26f 95.24%
    )
  );
}

.wrapper_category {
  display: flex;
  flex-direction: row;
  min-width: var(--measure-total-width-s, 320px);
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.button_category {
  display: flex;
  width: 140px;
  padding: var(--spacing-padding-m, 16px) var(--spacing-padding-m, 16px);
  align-items: center;
  gap: var(--spacing-gap-xs, 8px);
  flex-shrink: 0;
  border-radius: 8px;
  cursor: pointer;
  background: var(
    --button-shade-green,
    linear-gradient(179deg, #408581 18.99%, #3a7874 30.68%, #1a3534 81.09%)
  );
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.2),
    -2px -2px 8px 0px rgba(0, 0, 0, 0.15) inset;
}

.wrapper_text-stars {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-gap-xxs, 4px);
}

.wrapper_stars-hitbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  width: 128px;
}

.wrapper_total-stars {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-gap-xxs, 4px);
  object-fit: cover;
}

.star {
  width: 0.75rem;
  object-fit: contain;
}

#flag {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 100%;
  filter: saturate(0.8);
  padding: 2px;
  background: var(
    --gold_fade_bright,
    linear-gradient(
      180deg,
      #fff3d3 0%,
      #ffeec1 22.32%,
      #b5a26f 68.45%,
      #b5a26f 95.24%
    )
  );
  /* button-shadow */
  box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

/* DROPWOWN */
.dd-category_words {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  max-height: 0;
  width: auto;
  overflow: scroll;
  transition: max-height 0.5s ease-in;
}

.dd-category_words.open {
  max-height: 80vh;
  transition: max-height 0.8s ease-out;
  overflow: scroll;
}

.height {
  height: 200px;
  width: 100%;
  background-color: blue;
}

.wrapper-word {
  width: 100%;
  height: auto;
}

.list-word {
  display: flex;
  margin: 0;
  padding: var(--spacing-padding-xs, 8px) var(--spacing-padding-l, 20px);
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  color: #282828;
  background: var(
    --fade_3_word,
    linear-gradient(
      180deg,
      #b5a26f 0%,
      #bfaf83 3%,
      #fff3d3 20%,
      #ffeec1 70%,
      #bfaf83 97%,
      #b5a26f 0%
    )
  );
}

.dropdown-content {
  display: flex;
  position: absolute;
  background-color: #572525;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dd-button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
/* DROPWOWN ENDS */
/* PAGE WORDS (SCROLL AREA) ENDS */

/* FONTS */
/* FIXA FONT-COLOR RELIEF */
h1 {
  /* app/h1_24_32_12_0% */
  letter-spacing: 0.025rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2rem;
  margin: 0;
  /*background: var(
    --gold_icon_fade,
    linear-gradient(
      180deg,
      #fff3d3 0%,
      #ffefc5 11.9%,
      #ffeec1 24.8%,
      #b5a26f 95.24%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;*/
}

.h1_big-card {
  text-align: center;
  color: #af9754;
  font-size: 3.25rem;
  line-height: 3.5rem;
  letter-spacing: 0.1rem;
  margin: 0;
  text-shadow: 1px 1px 2px 0px #957a31 inset;
}

h2 {
  color: #ffe18d;
  /* FIXA
    leading-trim: both;
    text-edge: cap; */

  /* app/h2_1.5% */
  font-size: 2rem;
  font-weight: 300;
  line-height: 2rem; /* 100% */
  letter-spacing: 0.1rem;
  margin: 0;
}

.h3_menu-card-label {
  color: #282828;
}

h3 {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 0.025rem;
}

.h3_label_s {
  color: #ffe18d;
  text-align: right;
  /* FIXA
    leading-trim: both;
    text-edge: cap; */
  font-size: 1rem;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0.05rem;
  margin: 0;
  padding: 0;
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.025rem;
  margin: 0;
  text-align: left;
}

/* <P> @ INDEX. FIXA RELIEF */
.p_big-card {
  color: #ffe7a7;
  color: #957a31;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.2px;
  text-shadow: 1px 1px 2px 0px #957a31 inset;
}
/* FONTS END */

/* PAGE INDEX */
.section_intro-card {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-card {
  display: flex;
  width: var(--measure-total-width-s, 20rem);
  height: var(--measure-total-width-s, 20rem);
  justify-content: center;
  align-items: center;
  border-radius: var(--spacing-padding-s, 0.75rem);
  background: linear-gradient(
    180deg,
    #bfaf83 0%,
    #fff3d3 3%,
    #ffeec1 70%,
    #ffe7a7 95%
  );
  box-shadow: 0px 6.6735px 13.34701px 0px rgba(0, 0, 0, 0.15),
    8px 8px 16px 0px rgba(170, 149, 90, 0.5) inset,
    -8px -8px 12px 0px rgba(170, 149, 90, 0.5) inset;
  transition: ease-out 0.3s;
}

/* FIXA HOVER & INTRO-ANIMATION */
.big-card:focus {
  scale: 1.05;
}

.wrapper_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* PAGE INDEX ENDS */

/* PAGE GAME (WITHIN SCROLL AREA)  */

.center {
  height: auto;
  margin: 0;
  overflow: scroll;
}

.section_game {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  min-width: 320px;
  height: auto;
  width: auto;
  gap: 1.25vw;
  padding: var(--spacing-padding-l, 20px);
  background: var(
    --fade_forest_dark,
    linear-gradient(180deg, #152a28 0%, #1c3836 92.71%, #152a28 100%)
  );
}

/* PAGE GAME CARDS */
.card {
  width: auto;
  height: auto;
  min-width: var(--measure-card-size-s, 7rem);
  min-height: var(--measure-card-size-s, 7rem);
  padding: 1rem;
  border-radius: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; /* important */
  cursor: pointer;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
  background: #fffaed;

  /* card-shadow-front */
  box-shadow: -1px -1px 4px 0px rgba(0, 0, 0, 0.15) inset,
    1px 1px 4px 0px rgba(0, 0, 0, 0.15) inset;
}

.card-text {
  color: #1d1d1d;
  font-size: 1rem;
  line-height: 1rem;
  text-align: center;
  text-wrap: wrap;
  margin: 0.5rem;
}

.front-image {
  height: 4rem;
  width: auto;
}

.card.flipped {
  transform: rotateY(180deg);
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  border-radius: 0.5rem;
  top: 0;
  left: 0;
  gap: 0.5rem;
  height: 100%;
  width: 100%;
}

.card .front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
}

.card .back {
  /*background-image: url(data:image...); */
  background: var(
    --gold_fade_bright,
    linear-gradient(
      180deg,
      #fff3d3 0%,
      #ffeec1 22.32%,
      #b5a26f 68.45%,
      #b5a26f 95.24%
    )
  );
  /* card-shadow-back */
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2),
    -1px -1px 4px 0px rgba(0, 0, 0, 0.15) inset,
    1px 1px 4px 0px rgba(0, 0, 0, 0.15) inset;
  background-position: center center;
  background-size: cover;
  backface-visibility: hidden;
}
/* PAGE GAME (WITHIN SCROLL AREA) ENDS */

.info-sec {
  display: flex;
  flex-direction: row;
  width: 200px;
}

.timer {
  gap: 0.25rem;
}

.container_game-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.container-mission {
  display: flex;
  justify-content: center;
  padding: 2rem;
  gap: 1rem;
}

.mission-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: aquamarine;
  border-radius: 100rem;
  width: 200px;
  height: 200px;
  box-shadow: 8px 4px 12px rgba(2, 2, 2, 0.2);
  transition: box-shadow 0.2s ease-out; /* Lägg till övergången här */
}

.mission-card:hover {
  background-color: aliceblue;
  box-shadow: 8px 4px 12px rgba(2, 2, 2, 0);
  animation-name: mission-card;
}

@keyframes mission-card {
  0% {
    box-shadow: 8px 4px 12px rgba(2, 2, 2, 0.2);
  }
  100% {
    box-shadow: 8px 4px 12px rgba(2, 2, 2, 0);
  }
}

/* POPUPS */
.section_end-game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.container_end-game {
  display: flex;
  width: 280px;
  height: auto;
  padding: 1.25rem;
  flex-direction: column;
  justify-content: center;
  border-radius: var(--radius-popup, 16px);
  margin: auto;
  background: var(
    --fade_forest_footer,
    linear-gradient(185deg, #428580 8.78%, #3b7773 27.96%, #1c3836 108.32%)
  );

  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2),
    0px -2px 4px 0px rgba(0, 0, 0, 0.15) inset,
    0px 2px 4px 0px rgba(0, 0, 0, 0.15) inset;
  animation-name: fadeIn;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}

/* POPUPS */
.popup_bg {
  display: none; /* Hidden by default */
  flex-direction: column;
  justify-content: center;
  align-self: center;
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  top: 0;
  width: 100%;
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}

.popup_box {
  display: inline-flex;
  height: auto;
  padding: 20px var(--spacing-padding-l, 20px);
  flex-direction: column;
  margin: auto;
  border-radius: var(--radius-popup, 16px);
  background: var(
    --fade_forest_footer,
    linear-gradient(185deg, #428580 8.78%, #3b7773 27.96%, #1c3836 108.32%)
  );

  /* board-shadow */
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2),
    0px -2px 4px 0px rgba(0, 0, 0, 0.15) inset,
    0px 2px 4px 0px rgba(0, 0, 0, 0.15) inset;

  animation-name: fadeIn;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}

@keyframes fadeIn {
  0% {
    scale: 0%;
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    scale: 100%;
  }
}

.wrapper_justify-end {
  display: flex;
  justify-content: flex-end;
}

.padding-top {
  padding-top: 1.75rem;
}

/* LINKS */

a {
  text-decoration: none;
  color: #af9754;
}

a:hover {
  color: #ffe18d;
}

/* ANVÄNDS DENNA?
.timer {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
*/

@media screen and (max-width: 1024px) {
  /* PAGE GAME CARDS */
  .section_game {
    gap: 0.75rem;
    justify-content: center;
  }
  .card {
    min-width: 6rem;
    min-height: 6rem;
    padding: var(--spacing-padding-xxs, 8px) var(--spacing-padding-xxs, 8px);
  }
  .front-image {
    height: 2.5rem;
  }
}
@media screen and (max-width: 768px) {
  .section_game {
    gap: 0.5rem;
    justify-content: center;
  }
  /* PAGE GAME CARDS */
  .card {
    min-width: 5rem;
    min-height: 5rem;
    padding: var(--spacing-padding-xxs, 8px) var(--spacing-padding-xxs, 8px);
  }

  .card-text {
    font-size: 0.75rem;
    line-height: 0.75rem;
    margin: 0;
  }

  .front-image {
    height: 2.75rem;
  }
  .container_menu-cards {
    row-gap: 1rem;
    column-gap: 1rem;
  }
}

@media screen and (max-width: 468px) {
  /* PAGE GAME CARDS */

  .navbar {
    padding: 0.25rem 1.25rem;
  }

  h1 {
    font-size: 1.5rem;
    font-weight: 500;
  }

  h2 {
    font-size: 1.75rem;
  }

  .card {
    min-width: var(--measure-card-size-s, 60px);
    min-height: var(--measure-card-size-s, 60px);
    padding: var(--spacing-padding-xxs, 8px) var(--spacing-padding-xxs, 8px);
    gap: 0.25rem;
  }

  .card-text {
    font-size: 0.5rem;
    line-height: 0.5rem;
    margin: 4px;
  }

  .front-image {
    height: 2rem;
  }

  .front,
  .back {
    gap: 0.25rem;
  }
  .wrapper_spel-min {
    width: 172px;
  }
}

@media screen and (max-width: 400px) {
  .navbar {
    height: auto;
  }

  .section_game {
    gap: 1.25vw;
  }
  .card-text {
    font-size: 0.5rem;
    line-height: 0.5rem;
    text-wrap: wrap;
  }
}
